.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto 0 auto; 
}

.form {
    display: flex;
    gap: 20px;
    padding-top: 200px;
    margin: 0 auto 0 auto; 
}

.form__name {
    min-width: 300px;
    min-height: 30px;
    font-size: 35px;
    border-radius: 8px;
}

.form__name {
    min-width: 300px;
    min-height: 30px;
    font-size: 35px;
    border-radius: 8px;
    border: none;
}

.form__type {
    min-width: 150px;
    min-height: 30px;
    font-size: 35px;
    border-radius: 8px;
    border: none;
}

.button__add {
    font-size: 35px;
    min-width: 50px;
    cursor: pointer;
    background-color:chartreuse;
    border-radius: 8px;
}

.card {
    display: flex;
    min-width: 600px;
    min-height: 100px;
    align-items: center;
    justify-content: space-around;
}

.button__delete {
    font-size: 35px;
    min-width: 50px;
    cursor: pointer;
    color: red;
    border: none;
    background-color:darkcyan;

}


.card__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto 0 auto; 
    padding-top: 50px;
    min-height: 100px;
    min-width: 850px;
}

.card {
    background-color: darkcyan;
    border-radius: 10px;
}

.navigation {
    display: flex;
    gap: 20px;
    padding-top: 50px;
    margin: 0 auto 0 auto; 
}
